body {
    background-color: #0A0B0D;
}
.cv {
    background-image: url("../images/cv2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
}
